<div class="center-content">
    <div class="row width-style">
        <div class="col s12 m6">
            <div class="card blue-grey">
                <div class="card-content white-text">
                    <span class="card-title">Detail student/{{student.id}}</span>
                    <div class="">Name : {{student.firstname+" "+student.lastname}}</div>
                    <div class="">Email : {{student.email}}</div>
                    <div class="">Age : {{student.Datebirthday}}</div>
                </div>
                <div class="card-action">
                    <div class="col d-flex justify-content-end">
                        <a class="waves-effect waves-light btn bg-light" routerLink="/">return</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>